[submodule "modules/tslib-devcontainer-template"]
	path = modules/tslib-devcontainer-template
	url = git@github.com:p-buddy/tslib-devcontainer-template.git
	branch = main
[submodule "modules/pnpm-devcontainer-template"]
	path = modules/pnpm-devcontainer-template
	url = git@github.com:p-buddy/pnpm-devcontainer-template.git
	branch = main
[submodule "modules/tslibcli-devcontainer-template"]
	path = modules/tslibcli-devcontainer-template
	url = git@github.com:p-buddy/tslibcli-devcontainer-template.git
	branch = main
